* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', Sans-Serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #DAF0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background-circle {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: #109DFF;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.2;
    top: 20%;
    left: 36%;
}

.calculator {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: black;
    background: transparent;
    font-size: 20px;
    color: #109DFF;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 2px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;

}

form input.equal {
    width: 145px;
}

.operator {
    color: #109DFF;
}